.checkout-price {
    margin: 1rem;
    justify-content: space-around;
    padding: 1rem;
}

.checkout-price ul {
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    text-align: center;
}

.thead {
    position: sticky;
    z-index: 100;
}

.th {
    padding: var(--sm-spacing);

}